.index

  @import 'slider/slider'
  @import 'slider/btns'
  @import 'desc/desc'
  @import 'desc/table'
  @import 'listing/listing'
  @import 'gradient/gradient'
  @import 'range-input/range-input'
  @import 'range-input/range-slider'
  @import 'tabs/tabs'
  @import 'elements/elements'
  @import 'elements/switch'
  @import 'elements/choice'
  @import 'elements/selection'
  @import 'last/last'
  @import 'last/review'
  @import 'last/rating'
  @import 'last/form'
  @import 'last/widget'
