section.listing
    h3.listing__title listing 
        span.title-number (24)
    .listing__prev-btn
    .listing__next-btn
    .listing__slider
        .block
            .block__slider-item
                +listing('images/listing/1.jpg', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/2.jpg', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/3.jpg', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/4.jpg', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/5.jpg', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/6.jpg', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/7.jpg', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/8.jpg', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/9.jpg', 'Memes', 'by El Sanchez', 'olalo' )
                +listing('images/listing/10.png', 'Memes', 'by El Sanchez', 'olalo' )
                +listing('images/listing/11.jpg', 'Memes', 'by El Sanchez', 'olalo' )
                +listing('images/listing/12.jpg', 'Memes', 'by El Sanchez', 'olalo' )
        .block
            .block__slider-item
                +listing('images/listing/13.jpg', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/14.jpg', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/15.png', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/16.jpg', 'Memes', 'by Marty McFly', 'olalo' )
                +listing('images/listing/17.jpg', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/18.jpg', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/19.jpg', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/20.png', 'Memes', 'by Miguel Cortez', 'olalo' )
                +listing('images/listing/21.jpg', 'Memes', 'by El Sanchez', 'olalo' )
                +listing('images/listing/22.jpg', 'Memes', 'by El Sanchez', 'olalo' )
                +listing('images/listing/23.png', 'Memes', 'by El Sanchez', 'olalo' )
                +listing('images/listing/24.jpg', 'Memes', 'by El Sanchez', 'olalo' )

