@import "../mixins/colors.styl"
.header
    
    &__menu
        margin-left 111px
        display flex
        flex-direction row
        height 100%
        width 332px
        justify-content space-between
        line-height 66px
        font-size 18px
        font-weight 600

        .active
                color $color-dark
                .dropdown
                    display flex

                &:hover 
                    color unset
                    border-top-color #fff
                
                &:after
                    display none
                &:before
                    display block

        .menu-item
            width 80px
            display flex
            justify-content center
            transition .3s
            color $color-grey
            border 2.5px solid transparent
            position relative

            &:hover
                color $color-blue
                border-top-color $color-blue 

                &:after
                    border-top-color $color-blue

            &:after
                display block
                content ""
                position absolute
                border 5px solid transparent
                border-top-color $color-grey
                right -5px
                top 30px
                transition .3s

            &:before
                display none
                content ""
                position absolute
                border 5px solid transparent
                border-bottom-color $color-dark
                right -5px
                top 26px
                transition .3s