.elements
  width 1181px
  height 226px

  &__title
    text-transform uppercase
    font-size 22px
    line-height 28px
    font-weight 700
    color $color-dark

  &__content 
    margin-top 55px
    display flex
    flex-direction row
    justify-content space-between

    .content-btn
      @extend .btn
      width 129px
      height 40px
      line-height 40px
      font-size 16px

      &--opposite
        @extend .btn--opposite
