.selection
  width 80px
  height 22px
  display flex
  flex-direction row
  padding-top 12px

  &-title 
    font-size 16px
    line-height 16px
    padding-top 6px
    color $color-dark
    font-weight 600

  &-btn
    margin-left 12px
    content ""
    cursor pointer
    width 22px
    height 22px

.off
  background-color rgba(131,146,166,0.5)
.on
  background-color $color-grey