form.form
    .form__group
        label.form-review(for="review")
            h6.form-review__title Your review
            textarea.form-review__textarea(id="review" required placeholder="Leave your comment")
    .form__group
        label.form-name(for="name")
            h6.form-name__title Name
            input.form-name__input(type="text" id="name" required placeholder="Your name")
        label.form-email(for="email")
            h6.form-email__title Email
            input.form-email__input(type="text" id="email" required placeholder="Your email address")
    .form__btns
        .btns-notify
            a.btns-notify__link(href="#")
            h6.btns-notify__title Notify me of new posts by email.
        .btns-submit
            label.btns-submit__btn(for="submit")
              input.visuallyHidden(type="submit" disabled)#submit
              button.submit-btn-item.disabled(href="#") Submit
