.review__rating.rating
    h6.rating__title Your rating
    ul.rating__stars
        li.rating__stars-item
        li.rating__stars-item
        li.rating__stars-item
        li.rating__stars-item
        li.rating__stars-item