.slider
    div
        img(src="images/slide1.png").slider__item
    div
        img(src="images/slide2.png").slider__item
    div
        img(src="images/slide3.png").slider__item
    div
        img(src="images/slide4.png").slider__item
    div
        img(src="images/slide5.png").slider__item
    div
        img(src="images/slide6.png").slider__item