section.tabs 
    h3.tabs__title tabs
    .tabs__slider
        div
            .tabs__slider-items
                +tabs('images/tabs/1.jpg', 'Famaly', 'by Marty McFly')
                +tabs('images/tabs/1.jpg', 'Famaly', 'by Marty McFly')
                +tabs('images/tabs/1.jpg', 'Famaly', 'by Marty McFly')
                +tabs('images/tabs/1.jpg', 'Famaly', 'by Marty McFly')
                +tabs('images/tabs/1.jpg', 'Famaly', 'by Marty McFly')
                +tabs('images/tabs/1.jpg', 'Famaly', 'by Marty McFly')
        div
            .tabs__slider-items
              +tabs('images/tabs/2.jpg', 'Famaly', 'by Miguel Cortez')
              +tabs('images/tabs/2.jpg', 'Famaly', 'by Miguel Cortez')
              +tabs('images/tabs/2.jpg', 'Famaly', 'by Miguel Cortez')
              +tabs('images/tabs/2.jpg', 'Famaly', 'by Miguel Cortez')
              +tabs('images/tabs/2.jpg', 'Famaly', 'by Miguel Cortez')
              +tabs('images/tabs/2.jpg', 'Famaly', 'by Miguel Cortez')
        div
            .tabs__slider-items
              +tabs('images/tabs/3.jpg', 'Famaly', 'by El Sanchez')
              +tabs('images/tabs/3.jpg', 'Famaly', 'by El Sanchez')
              +tabs('images/tabs/3.jpg', 'Famaly', 'by El Sanchez')
              +tabs('images/tabs/3.jpg', 'Famaly', 'by El Sanchez')
              +tabs('images/tabs/3.jpg', 'Famaly', 'by El Sanchez')
              +tabs('images/tabs/3.jpg', 'Famaly', 'by El Sanchez')