.prev-btn
  cursor pointer
  position absolute
  left 130px
  top 260px
  icon_size_mask 43px, 85px, "../../images/arrow-prev.svg"
  background-color $color-grey
  transition .3s
  z-index 5

  &:hover
    background-color $color-blue

.prev-btn-bg
    cursor pointer
    position absolute
    left 130px
    top 260px
    width 43px
    height 85px
    background-color $color-light-grey
    border-radius 0 50px 50px 0
    opacity .4


.next-btn
  cursor pointer
  position absolute
  left 1267px
  top 260px
  transform rotate(180deg)
  icon_size_mask 43px, 85px, "../../images/arrow-prev.svg"
  background-color $color-grey
  transition .3s
  z-index 5

  &:hover
    background-color $color-blue
