.prev-btn
  cursor pointer
  position absolute
  left 130px
  top 260px
  icon_size_mask 43px, 85px, "../../images/arrow-prev.svg"
  background-color $color-grey
  z-index 2
  transition .3s

  &:hover
    background-color $color-blue

.next-btn
  cursor pointer
  position absolute
  left 1267px
  top 260px
  transform rotate(180deg)
  icon_size_mask 43px, 85px, "../../images/arrow-prev.svg"
  background-color $color-grey
  z-index 2
  transition .3s

  &:hover
    background-color $color-blue
