html(lang="en")
    head
        include mixin/meta
        title INDEX
        include mixin/styles
    body
        include overlay/overlay
        main.maincontent
            include header/header
            .wrapper
                include slider/slider
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem tempora architecto cumque minus mollitia provident pariatur iusto! Et amet aperiam assumenda aliquid eaque ipsa distinctio accusamus ipsam fugit quod.
            include footer/footer
        include mixin/scripts