html(lang="en")
    head
        include mixin/meta
        title INDEX
        include mixin/styles
    body

        .maincontent
            include header/header
            .wrapper
            include footer/footer
        include mixin/scripts