html(lang="en")
    head
        include mixin/meta
        title INDEX
        include mixin/styles
    body
        include overlay/overlay
        main.maincontent
            include header/header
            .wrapper
                include slider/slider
            include footer/footer
        include mixin/scripts