html(lang="en")
    head
        include mixin/meta
        title INDEX
        include mixin/styles
    body
        
        include overlay/overlay
        main.maincontent
            include header/header
            .wrapper
                include index/slider/slider
                include index/desc/desc
            include footer/footer
        include mixin/scripts