@import 'mixins/colors'
@import 'mixins/btn'
@import 'mixins/icons'
@import 'mixins/close'

@import 'layout/base.styl'
@import 'layout/fonts.styl'

@import 'header/header'

@import 'overlay/overlay'

@import 'index/slider/slider'
@import 'index/slider/btns'
@import 'index/desc/desc'
@import 'index/desc/table'
@import 'index/listing/listing'
@import 'index/gradient/gradient'
@import 'index/range-input/range-input'
@import 'index/range-input/range-slider'
@import 'index/tabs/tabs'
@import 'index/elements/elements'
@import 'index/elements/switch'
@import 'index/elements/choice'
@import 'index/elements/selection'
@import 'index/last/last'
@import 'index/last/review'
@import 'index/last/rating'
@import 'index/last/form'
@import 'index/last/widget'

@import 'second/second'
@import 'second/sidebar/sidebar'
@import 'second/content/content'
@import 'second/content/sort'
@import 'second/content/products'

@import 'item-page/item-page'
@import 'item-page/product/product'

@import 'cart/cart-page'
@import 'cart/cart'


@import 'footer/footer'