.review
  height 667px
  width 783px

  &__info
    width 455px
    font-size 16px
    color $color-dark
    position relative

    &:after
      content "*"
      position absolute
      display block
      color red
      top 0
      right -23px
