.elements-content__choice.choice
    .choice-form Your city
    ul.choice__list
        li.choice__list-item Moscow
        li.choice__list-item Minsk
        li.choice__list-item Kyev
        li.choice__list-item Tallin
        li.choice__list-item Kishinev
        li.choice__list-item Warsaw