.choice
    .choice__form Your city
    ul.choice__list
        li.choice-list-item Moscow
        li.choice-list-item Minsk
        li.choice-list-item Kyev
        li.choice-list-item Tallin
        li.choice-list-item Kishinev
        li.choice-list-item Warsaw