section.elements
    h3.elements__title elements
    .elements-content
        a.btn--opposite.elements-content__btn(href="#") Button
        a.btn.elements-content__btn(href="#") Button
        .elements-content__switch
            a.btn.elements-content__switch-btn.elements-content__switch-btn--left(href="#") On
            a.btn.btn--opposite.elements-content__switch-btn.elements-content__switch-btn--right(href="#") Off
        .elements-content__choice
            .elements-content__choice-form Your city
            ul.elements-content__choice-list
                li.elements-content__choice-list-item Moscow
                li.elements-content__choice-list-item Minsk
                li.elements-content__choice-list-item Kyev
                li.elements-content__choice-list-item Tallin
                li.elements-content__choice-list-item Kishinev
                li.elements-content__choice-list-item Warsaw



            select.elements-content__choice-cities(name="city").visuallyHidden Your city
              option.elements-content__choice-cities-item(value="Moscow") Moscow
              option.elements-content__choice-cities-item(value="Minsk") Minsk
              option.elements-content__choice-cities-item(value="Kyiv") Kyiv
              option.elements-content__choice-cities-item(value="Tallin") Tallin
        .elements-content__selection