section.elements
    h3.elements__title elements
    .elements-content
        a.btn--opposite.elements-content__btn(href="#") Button
        a.btn.elements-content__btn(href="#") Button
        include switch
        include choice
        include selection