section.elements
    h3.elements__title elements
    .elements__content
        a.content-btn.content-btn--opposite(href="#") Button
        a.content-btn(href="#") Button
        include switch
        include choice
        include selection