.contacts
  width 170px
  display flex
  flex-direction column

  &__title
    @extend .footer__title 

  &__mail
    margin-top 12px
  
  &__btn
    margin-top 15px
    height 39px
    width 166px
    line-height 37px
    font-size 16px
