.footer
  height 207px
  box-shadow 0 -2px 4px 0 rgba(59,72,88,0.1), 0 -1px 0 0 #E3E9EF
  display flex
  flex-direction column
  justify-content center
  &__content
    padding 0 130px
    display flex
    flex-direction row
    justify-content space-between
  &__title
    color $color-dark
    font-size 16px
    font-weight 700

@import 'about'
@import 'terms'
@import 'contacts'
@import 'socials'