.gradient
  height 803px
  width 1181px

  &__title
    @extend .listing__title
  
  &__item
    height 368px
    width 1180px
    border-radius 6px

    &--first
      margin-top 14px
      background linear-gradient(225deg, #32C5FF 0%, #B620E0 51.26%, #F7B500 100%)

    &--second
      margin-top 25px
      background linear-gradient(180deg, #6DD400 0%, #F7B500 100%)