.tabs
  margin-top 40px
  height 402px
  width 1181px
  
  
  &__title
    margin-bottom 50px
    @extend .listing__title
  
  &__list
    margin-top 29px
    display flex
    flex-direction row
    .active
      color $color-blue

    &-item
      width 100px
      font-size 18px
      line-height 23px
      font-weight 700
      text-transform uppercase
      color $color-grey
      margin-left 40px
      cursor pointer
      transition .3s
      

      &:first-child
        margin-left 0
      
      &:hover
        color $color-blue
  &__slider

    &-items
    display flex
    flex-direction row
    justify-content space-between
  
  &-item
    width 180px
    height 302px

    &__img
      cursor pointer
      img 
        display block
        object-fit cover
        height 208px
        width 180px
        border-radius 6px
    
    &__title
      @extend .listing-video__title
    &__author
      @extend .listing-video__author
  

  .slick-dots
    top -24px
    
    li
      height 23px
      width 100px
  