.tabs
  width 1181px

  &__title
    @extend .listing__title
    margin-bottom 29px

  &__btns
    display flex
    flex-direction row
    margin-bottom 80px

    .btns-item
      font-size 18px
      line-height 23px
      font-weight 700
      text-transform uppercase
      color $color-grey
      margin-left 40px
      cursor pointer
      transition .3s
      &:first-child
        margin-left 0
      &:hover 
        color $color-blue
        
    .active
      color $color-blue
  
  &__slider

    .slider-items
      display none
      flex-direction row
      justify-content space-between

    .active
      display flex
  
  &-item
    width 180px
    height 302px

    &__img
      cursor pointer
      img 
        display block
        object-fit cover
        height 208px
        width 180px
        border-radius 6px
    
    &__title
      margin-top 10px
      font-size 16px
      line-height 20px
      font-weight 600
      color $color-dark
      cursor pointer
    &__author
      font-size 14px
      color $color-dark

  .slick
    &-dots
      top -40px
      height 23px
      width 135px

      li
        height 23px
        width 45px
    &-active
      .tabs__list-item
        color $color-blue
        cursor default

    &-track
      height 275px

  