aside.sidebar
    h3.sidebar__title categories
    ul.sidebar__navigation
        li.navigation-item category 1
        li.navigation-item category 2
        li.navigation-item category 3
        li.navigation-item category 4
        li.navigation-item category 5