section.products.products--tile
  ul.products-list
    li.products-list__item
      img(src="images/listing/1.jpg").products-list__item-pic
      .products-list__item-desc
        a(href="#").products-list__item-title Customer Demo
        ul.products-list__item-rating
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star.item-rating__star--unmarked
        .products-list__item-text By creating an account on our website.
        .products-list__item-price $120.00
        a.btn--opposite.products-list__item-btn(href="#") Add to Cart
    li.products-list__item
      img(src="images/listing/2.jpg").products-list__item-pic
      .products-list__item-desc
        a(href="#").products-list__item-title Customer Demo
        ul.products-list__item-rating
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star.item-rating__star--unmarked
        .products-list__item-text By creating an account on our website.
        .products-list__item-price $120.00
        a.btn--opposite.products-list__item-btn(href="#") Add to Cart
    li.products-list__item
      img(src="images/listing/3.jpg").products-list__item-pic
      .products-list__item-desc
        a(href="#").products-list__item-title Customer Demo
        ul.products-list__item-rating
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star.item-rating__star--unmarked
        .products-list__item-text By creating an account on our website.
        .products-list__item-price $120.00
        a.btn--opposite.products-list__item-btn(href="#") Add to Cart
    li.products-list__item
      img(src="images/listing/4.jpg").products-list__item-pic
      .products-list__item-desc
        a(href="#").products-list__item-title Customer Demo
        ul.products-list__item-rating
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star.item-rating__star--unmarked
        .products-list__item-text By creating an account on our website.
        .products-list__item-price $120.00
        a.btn--opposite.products-list__item-btn(href="#") Add to Cart
    li.products-list__item
      img(src="images/listing/5.jpg").products-list__item-pic
      .products-list__item-desc
        a(href="#").products-list__item-title Customer Demo
        ul.products-list__item-rating
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star.item-rating__star--unmarked
        .products-list__item-text By creating an account on our website.
        .products-list__item-price $120.00
        a.btn--opposite.products-list__item-btn(href="#") Add to Cart
    li.products-list__item
      img(src="images/listing/6.jpg").products-list__item-pic
      .products-list__item-desc
        a(href="#").products-list__item-title Customer Demo
        ul.products-list__item-rating
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star
            li.item-rating__star.item-rating__star--unmarked
        .products-list__item-text By creating an account on our website.
        .products-list__item-price $120.00
        a.btn--opposite.products-list__item-btn(href="#") Add to Cart
    
    