section.products.products--tile
  ul.products__list
    li.list-item
      img(src="images/listing/1.jpg").list-item__pic
      .list-item__desc
        a(href="#").desc-title Customer Demo
        ul.desc-rating
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star.desc-rating__star--unmarked
        .desc-text By creating an account on our website.
        .desc-price $120.00
        a.desc-btn(href="#") Add to Cart
    li.list-item
      img(src="images/listing/2.jpg").list-item__pic
      .list-item__desc
        a(href="#").desc-title Customer Demo
        ul.desc-rating
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star.desc-rating__star--unmarked
        .desc-text By creating an account on our website.
        .desc-price $120.00
        a.desc-btn(href="#") Add to Cart
    li.list-item
      img(src="images/listing/3.jpg").list-item__pic
      .list-item__desc
        a(href="#").desc-title Customer Demo
        ul.desc-rating
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star.desc-rating__star--unmarked
        .desc-text By creating an account on our website.
        .desc-price $120.00
        a.desc-btn(href="#") Add to Cart
    li.list-item
      img(src="images/listing/4.jpg").list-item__pic
      .list-item__desc
        a(href="#").desc-title Customer Demo
        ul.desc-rating
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star.desc-rating__star--unmarked
        .desc-text By creating an account on our website.
        .desc-price $120.00
        a.desc-btn(href="#") Add to Cart
    li.list-item
      img(src="images/listing/5.jpg").list-item__pic
      .list-item__desc
        a(href="#").desc-title Customer Demo
        ul.desc-rating
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star.desc-rating__star--unmarked
        .desc-text By creating an account on our website.
        .desc-price $120.00
        a.desc-btn(href="#") Add to Cart
    li.list-item
      img(src="images/listing/6.jpg").list-item__pic
      .list-item__desc
        a(href="#").desc-title Customer Demo
        ul.desc-rating
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star
            li.desc-rating__star.desc-rating__star--unmarked
        .desc-text By creating an account on our website.
        .desc-price $120.00
        a.desc-btn(href="#") Add to Cart
    