section.content__sort
    .sort-type
        .sort-type__title sort by:
        .sort-type__item position
        ul.sort-type__list
            li.type-list-item position
            li.type-list-item rating
            li.type-list-item name
    .sort-display
        .sort-display__title display:
        .sort-display__item 6 per page
        ul.sort-display__list
            li.sort-list-item 3 per page
            li.sort-list-item 6 per page
            li.sort-list-item 9 per page
    .sort-view
        .sort-view__list
        .sort-view__tile.active