.content__sort.sort
    .sort-type
        .sort-type__title sort by
        .sort-type__list
            .list-item position
            .list-item rating
            .list-item name
    .sort-display
        .sort-display__title display
        .sort-type__list
            .list-item 3 per page
            .list-item 6 per page
            .list-item 9 per page
    .sort-view
        .sort-view__list
        .sort-view__tile