.footer
    .footer__content
        .about
            p.about__desk  While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. 
            h6.about__label  Test TRK © 2017

        .terms
            h5.footer__title Terms & Conditions
            ul.terms__list
                li.terms__list-item
                    a(href="#").terms__list-item-link Privacy Policy
                    .terms__list-item-desc.emerge
                        a.close.emerge__close
                            .close__item
                        h2.emerge__title 
                            p Data Policy
                        .emerge__desc
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam numquam quidem tempora odio ab veniam debitis delectus excepturi id non, ratione vero impedit eum unde veritatis aperiam a illo! Possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam saepe voluptatum eum accusantium expedita, ab, tenetur quo vero magnam eius molestiae! Et nulla expedita aspernatur reiciendis beatae voluptatibus animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos minus accusantium atque culpa voluptate facere explicabo cumque, pariatur quam totam, quia in dolor voluptatem eius magnam officiis. Totam, sunt?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore reprehenderit rerum delectus nesciunt exercitationem beatae, sapiente aliquam! Ipsa a fugit nulla dicta? Similique explicabo, quaerat beatae id rerum adipisci sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae labore beatae, sunt laborum asperiores voluptatum eos earum dolor cum officia, molestiae optio odit nesciunt mollitia esse voluptatibus at veniam expedita! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa repudiandae assumenda maxime, velit nihil harum ipsum libero quod deserunt doloremque accusantium, veritatis omnis necessitatibus quasi quibusdam tempora voluptatem qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum recusandae deleniti numquam quae sunt, ipsum sit, ratione, autem voluptatem est expedita dolorum molestias facere beatae nemo error porro a ipsam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio eos harum placeat alias inventore. Quisquam, in. Laborum, ratione vero eligendi laudantium molestiae, fuga, est ipsa error quia enim accusamus assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestiae at velit libero, odit architecto sed ipsa rem laboriosam iure, maxime fuga iusto dolorem sapiente beatae ea explicabo ex obcaecati.

                li.terms__list-item
                    a(href="#").terms__list-item-link Terms of Payment
                    .terms__list-item-desc.emerge
                        a.close.emerge__close
                            .close__item
                        h2.emerge__title 
                            p Data of Payment
                        .emerge__desc
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam numquam quidem tempora odio ab veniam debitis delectus excepturi id non, ratione vero impedit eum unde veritatis aperiam a illo! Possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam saepe voluptatum eum accusantium expedita, ab, tenetur quo vero magnam eius molestiae! Et nulla expedita aspernatur reiciendis beatae voluptatibus animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos minus accusantium atque culpa voluptate facere explicabo cumque, pariatur quam totam, quia in dolor voluptatem eius magnam officiis. Totam, sunt?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore reprehenderit rerum delectus nesciunt exercitationem beatae, sapiente aliquam! Ipsa a fugit nulla dicta? Similique explicabo, quaerat beatae id rerum adipisci sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae labore beatae, sunt laborum asperiores voluptatum eos earum dolor cum officia, molestiae optio odit nesciunt mollitia esse voluptatibus at veniam expedita! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa repudiandae assumenda maxime, velit nihil harum ipsum libero quod deserunt doloremque accusantium, veritatis omnis necessitatibus quasi quibusdam tempora voluptatem qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum recusandae deleniti numquam quae sunt, ipsum sit, ratione, autem voluptatem est expedita dolorum molestias facere beatae nemo error porro a ipsam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio eos harum placeat alias inventore. Quisquam, in. Laborum, ratione vero eligendi laudantium molestiae, fuga, est ipsa error quia enim accusamus assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestiae at velit libero, odit architecto sed ipsa rem laboriosam iure, maxime fuga iusto dolorem sapiente beatae ea explicabo ex obcaecati.

                li.terms__list-item
                    a(href="#").terms__list-item-link Terms of Servise
                    .terms__list-item-desc.emerge
                        a.close.emerge__close
                            .close__item
                        h2.emerge__title 
                            p Data of Service
                        .emerge__desc
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam numquam quidem tempora odio ab veniam debitis delectus excepturi id non, ratione vero impedit eum unde veritatis aperiam a illo! Possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam saepe voluptatum eum accusantium expedita, ab, tenetur quo vero magnam eius molestiae! Et nulla expedita aspernatur reiciendis beatae voluptatibus animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos minus accusantium atque culpa voluptate facere explicabo cumque, pariatur quam totam, quia in dolor voluptatem eius magnam officiis. Totam, sunt?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore reprehenderit rerum delectus nesciunt exercitationem beatae, sapiente aliquam! Ipsa a fugit nulla dicta? Similique explicabo, quaerat beatae id rerum adipisci sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae labore beatae, sunt laborum asperiores voluptatum eos earum dolor cum officia, molestiae optio odit nesciunt mollitia esse voluptatibus at veniam expedita! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa repudiandae assumenda maxime, velit nihil harum ipsum libero quod deserunt doloremque accusantium, veritatis omnis necessitatibus quasi quibusdam tempora voluptatem qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum recusandae deleniti numquam quae sunt, ipsum sit, ratione, autem voluptatem est expedita dolorum molestias facere beatae nemo error porro a ipsam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio eos harum placeat alias inventore. Quisquam, in. Laborum, ratione vero eligendi laudantium molestiae, fuga, est ipsa error quia enim accusamus assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestiae at velit libero, odit architecto sed ipsa rem laboriosam iure, maxime fuga iusto dolorem sapiente beatae ea explicabo ex obcaecati.


        .contacts
            h5.footer__title Contact Support
            a.contacts__mail(href="mailto:jermey.kling@yahoo.com") jermey.kling@yahoo.com
            a.btn.contacts__btn(href="#") Leave feedback

        .socials
            h5.footer__title Follow
            .socials__list
                a.socials__item(href="#")
                    .socials__item-fb
                a.socials__item(href="#")
                    .socials__item-gp
                a.socials__item(href="#")
                    .socials__item-tw