.footer
    .about
        p.about__desk
        h6.about__label
    .terms
        ul.terms__list
            li.terms__list-item
                a(href="#").terms__list-link Privacy Policy
                