.footer
    .footer__content
        .about
            p.about__desk  While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. 
            h6.about__label  Test TRK © 2017
    
        .terms
            h5.footer__title Terms & Conditions
            ul.terms__list
                li.terms__list-item
                    a(href="#").terms__list-link Privacy Policy
                    .terms__list-item-desc
        
        .contacts
            h5.footer__title Contact Support
            a.contacts__mail(href="mailto:jermey.kling@yahoo.com") jermey.kling@yahoo.com
            a.btn.contacts__btn(href="#") Leave feedback
    
        .socials
            h5.footer__title Follow
            .socials__list
                a.socials__item(href="#")
                    .socials__item-fb
                a.socials__item(href="#")
                    .socials__item-gp
                a.socials__item(href="#")
                    .socials__item-tw