.socials
  h5.socials__title Follow
  .socials__list
    a.socials__item(href="#")
      .socials__item-fb
    a.socials__item(href="#")
      .socials__item-gp
    a.socials__item(href="#")
      .socials__item-tw