.range-input
  width 1183px
  height 110px

  &__title
    @extend .listing__title

  &__items
    display flex
    flex-direction row

    .items-name
      color $color-dark
      font-size 18px
      font-weight 600
      margin 20px 160px 0 0