section.shoping-cart
  .shoping-cart__title
    h1.title shoping cart
  ul.shoping-cart__list
    li.list-titles
      ul.list-titles__list
        li.list-item Remove
        li.list-item Image
        li.list-item.list-item--prod Product(s)
        li.list-item Price
        li.list-item Qty.
        li.list-item Total
    li.shoping-cart__list-item
      .list-item__btn.form__btns-notify
        a.form__btns-notify__link.disable(href="#")
      img(src="images/listing/1.jpg").list-item__pic
      .list-item__name Google Analytics
      .list-item__price $25.00
      input(type="text" value="1").list-item__quantity
      .list-item__total $25.00
  .shoping-cart__btns
    button.update Update cart
    button.continue Continue shopping
  .shoping-cart__cheque
    ul.cheque-list
      li.cheque-list__item
        .item-title Sub-Total:
        .item-price $25.00
      li.cheque-list__item
        .item-title Shipping:
        .item-price $25.00
      li.cheque-list__item
        .item-title Tax:
        .item-price $0.00
    .cheque-total
      .cheque-total__title Total:
      .cheque-total__price $25.00
    .cheque-notice
      .cheque-notice__btn.form__btns-notify
        a.form__btns-notify__link.disable(href="#")
      .cheque-notice__text
        span I Agree 
        span
          a(href="#").cheque-notice__text-link Our Terms of Service
        span  and Privacy Notice are linked here for your review.
    button.cheque-btn checkout