.desc
  margin-bottom 102px
  width 780px
  display flex
  flex-direction column
  color $color-dark

  &__title
    height 52px
    font-size 42px
    font-weight 600
    line-height 52px
    margin-bottom 20px

  &__subtitle
    height 31px
    font-size 24px
    font-weight 600
    line-height 31px
    margin-bottom 15px

  &__paragraph
    font-size 16px
    line-height 24px
    margin-bottom 30px

    &-list
      margin-left 55px
      line-height 24px
      
      &-item
        padding-top 20px
      
      &--first
        .desc__paragraph-list-item
          position relative
          &:before
            display block
            position absolute
            content "-"
            font-weight 700
            top -2px
            left -30px
      &--second
        margin-left 38px
        list-style decimal outside
        .desc__paragraph-list-item
          padding-left 20px
          list-style decimal outside
    
    &-link
      color $color-blue

  &__info
    padding-top 5px

    .desc__subtitle
      margin-bottom 20px
    
    &-subtitle
      font-size 18px
      line-height 30px
      font-weight 600
      margin-bottom 5px

    &-paragraph
      @extend .desc__paragraph
      margin-bottom 20px