.table
  padding-top 10px
  display flex
  flex-direction column
  color $color-dark

  &__titles
    display flex
    flex-direction row
    border-bottom 2px solid $color-dark-white
    padding-bottom 4px
    margin-bottom 20px
    
    .titles-item
      font-size 18px
      line-height 23px
      font-weight 600

  &-item
    &--first
      margin-left 20px
    &--second
      margin-left 108px
    &--third
      margin-left 147px
    &--fourth
      margin-left 128px
  
  &__content
    margin-bottom 20px
    padding-bottom 20px
    display flex
    flex-direction row
    border-bottom 1px solid $color-dark-white
    &:last-child
      border-bottom none
      margin-bottom none