section.index-slider
    .index-slider__prev-btn
    .index-slider__next-btn
    .index-slider__slider
        .box
            img(src="images/slide1.png").box__item
        .box
            img(src="images/slide2.png").box__item
        .box
            img(src="images/slide3.png").box__item
        .box
            img(src="images/slide4.png").box__item
        .box
            img(src="images/slide5.png").box__item
        .box
            img(src="images/slide6.png").box__item