.product
  display flex
  flex-direction column

  &-item
    display flex
    flex-direction row
    height 310px
    padding-bottom 48px
    border-bottom 2px solid $color-light-grey
    margin-bottom 26px

    &__pic
      width 480px
      border-radius 6px
    
    &__desc
      display flex
      flex-direction column
      margin-left 20px
      width 100%

      .desc-header
        background-color $color-white
        width 100%
        height 60px
        display flex
        flex-direction row
        margin-bottom 12px

        &__title
          line-height 60px
          font-size 22px
          font-weight bold
          text-transform uppercase
          margin-left 18px
          color $color-dark

        &__rating
          margin auto 15px auto auto
          display flex
          flex-direction row

          .rating__star
            height 18px
            width 18px
            margin-right 4px
            position relative
            &:last-child
              margin-right 0
            &:after
              display block
              position absolute
              content ""
              top 50%
              left 50%
              transform translate(-50%, -50%)
              icon_size_mask 18px, 18px, '../images/star.svg'
              background-color $color-yellow
            &--unmarked:after
              background-color $color-grey
      
      .desc-text
        color $color-dark
        font-size 20px
        line-height 34px
        margin-bottom 72px
      
      .desc-footer
        display flex
        flex-direction row
        height 50px

        &__price
          color $color-red
          font-size 24px
          font-weight 600
          margin auto 0

        &__btn
          margin-left 50px
          line-height 50px
          width 280px
  
  &-desc
    

    .desc__paragraph
      font-size 20px
      line-height 38px
      color $color-dark