ul.dropdown
    li.dropdown__item
        a.item-link(href="./index.html") index
    li.dropdown__item
        a.item-link(href="./second.html") second
    li.dropdown__item
        a.item-link(href="#") Submenu 3