ul.dropdown
    li.dropdown__item
        a.dropdown__item-link(href="#") Submenu 1
    li.dropdown__item
        a.dropdown__item-link(href="#") Submenu 2
    li.dropdown__item
        a.dropdown__item-link(href="#") Submenu 3