ul.header__dropdown
    li.header__dropdown-item
        a.header__dropdown-link(href="#") Submenu 1
    li.header__dropdown-item
        a.header__dropdown-link(href="#") Submenu 2
    li.header__dropdown-item
        a.header__dropdown-link(href="#") Submenu 3