.header
    .header__logo
        svg(viewBox="0 0 176 38").logo-img
            use(xlink:href="./images/sprite.svg#logo")
    ul.header__menu
        li.header__menu-item
            a.header__menu-link(href="#") Menu 1
            include dropdown
        li.header__menu-item
            a.header__menu-link(href="#") Menu 2
            include dropdown
        li.header__menu-item
            a.header__menu-link(href="#") Menu 3
            include dropdown
    a(href="#").cart
        .cart__icon