.overlay
    form.overlay__form(action="")
        h3.form-title Leave your feedback
            .overlay__form-close.close
                .close__item
        label(for="ovrl-name").form-label
            h5.form-label__name Name
            input.form-label__input(type="text" placeholder="John" required)#ovrl-name
        label(for="ovrl-comment").form-label
            h5.form-label__name Comment
            input.form-label__input(type="text"  placeholder="u r so cute!!:3" required)#ovrl-comment
        label.form-btn(for="ovrl-submit")
            input#ovrl-submit.visuallyHidden(type="submit")
            button.form-btn__text(href="#") Save