.content
  width 880px
  display flex
  flex-direction column
  align-items center

  &__title
    @extend .sidebar__title
    width 880px
  
  &__btn
    width 204px
    height 50px
    font-size 18px
    font-weight bold
    line-height 50px
    margin-bottom 63px
