.products
  width 100%
  
  &-list
    display grid

    &__item
      display flex

      &-pic
        display block
        height 189px
        width 281px
        border-radius 6px
        object-fit cover
        margin-bottom 10px

      &-desc
        display flex
        flex-direction column
      
      &-title
        line-height 28px
        color $color-dark
        font-size 22px
        font-weight 600
        margin-bottom 5px
        transition .3s
        &:hover
          color $color-blue

      &-rating 
        display none
        margin-bottom 15px

        .item-rating__star
          position relative
          height 18px
          width 18px
          margin-right 4px
          &:after
            display block
            position absolute
            content ""
            top 50%
            left 50%
            transform translate(-50%, -50%)
            icon_size_mask 18px, 18px, '../images/star.svg'
            background-color $color-yellow
          &--unmarked:after
            background-color $color-grey
      
      &-text
        display none
        color $color-dark
        line-height 24px
        font-size 18px
        margin-bottom 5px


      &-price
        line-height 23px
        font-size 18px
        font-weight 600
        color $color-red
        margin-bottom 18px

      &-btn
        height 50px
        margin-bottom 20px
        line-height 50px
        font-size 18px
        font-weight 600
        text-align center

  &--tile
    .products-list
      grid-template-rows repeat(2, 1fr)
      grid-template-columns repeat(3, 1fr)
      grid-gap 20px

      &__item
        flex-direction column

  &--list
    .products-list
      grid-template-rows repeat(6, 1fr)
      grid-template-columns 1fr
      grid-gap 50px

      &__item
        flex-direction row

        &-desc 
          margin-left 20px
        &-title
          margin-bottom 7px

        &-rating 
          display flex
          flex-direction row

        &-text
          display block
        
        &-price
          margin-bottom 19px

        &-btn
          width 280px