.sort
  width 100%
  height 60px
  display flex
  flex-direction row

  &-type
    display flex
    flex-direction row

    &__title
      @extend .sidebar__navigation-item

  &-display
    @extend .sort-type