section.desc
    h1.desc__title I Left The "Grand Old Party"
    h2.desc__subtitle for Producers
    .desc__paragraph
        p Last night, the unimaginable happened. Donald Trump became the presumptive Republican nominee with his win in Indiana. His remaining rivals for the nomination, Ted Cruz and John Kasich, have bowed out of the race, and the RNC is now treating him as the winner. Which means it’s time for me to be a man and stick with my promise from back in August and March. It’s time for this Republican to leave the party.
    .desc__paragraph
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
            ul.paragraph-list.paragraph-list--first
                li.paragraph-list__item The Republican Party I joined promoted fiscal responsibility, strong foreign policy abroad, and individual liberty. The party that I’ve seen of late is one that is none of that.
                li.paragraph-list__item The Republican Party fought against slavery under Lincoln and fought the KKK under Grant. Now, it nominates a man who hesitates when confronted with support from the KKK and has manually re-tweeted racist and anti-Semitic accounts.
    .desc__paragraph
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
            ul.paragraph-list.paragraph-list--second
                li.paragraph-list__item The Republican Party I joined promoted fiscal responsibility, strong foreign policy abroad, and individual liberty. The party that I’ve seen of late is one that is none of that.
                li.paragraph-list__item The Republican Party fought against slavery under Lincoln and fought the KKK under Grant. Now, it nominates a man who hesitates when confronted with support from the KKK and has manually re-tweeted racist and anti-Semitic accounts.
    .desc__paragraph
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
    .desc__paragraph
        a.paragraph-link(href="https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html") https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html
    .desc__paragraph 
        p I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
    .desc__info
        h2.desc--subtitle for Producers
        h3.desc-info-subtitle No fees from beat sale
        p.desc-info-paragraph I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
        h3.desc-info-subtitle No fees from beat sale
        p.desc-info-paragraph I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
    include table