.table
    ul.table__titles
      li.table__titles-item.table-item--first Column 1
      li.table__titles-item.table-item--second Column 2
      li.table__titles-item.table-item--third Column 3
      li.table__titles-item.table-item--fourth Column 4
    ul.table__content
      li.table__content-item.table-item--first Something
      li.table__content-item.table-item--second Something
      li.table__content-item.table-item--third Something
      li.table__content-item.table-item--fourth Something
    ul.table__content
      li.table__content-item.table-item--first Something
      li.table__content-item.table-item--second Something
      li.table__content-item.table-item--third Something
      li.table__content-item.table-item--fourth
        ul.table__content-item-list
          li.table__content-item-list-item Something
          li.table__content-item-list-item Something
          li.table__content-item-list-item Something
    ul.table__content
      li.table__content-item.table-item--first Something
      li.table__content-item.table-item--second Something
      li.table__content-item.table-item--third Something
      li.table__content-item.table-item--fourth Something