table.table
    tr.table__titles
      td.table__titles-item.table-item--first Column 1
      td.table__titles-item.table-item--second Column 2
      td.table__titles-item.table-item--third Column 3
      td.table__titles-item.table-item--fourth Column 4
    tr.table__content
      td.table__content-item.table-item--first Something
      td.table__content-item.table-item--second Something
      td.table__content-item.table-item--third Something
      td.table__content-item.table-item--fourth Something
    tr.table__content
      td.table__content-item.table-item--first Something
      td.table__content-item.table-item--second Something
      td.table__content-item.table-item--third Something
      td.table__content-item.table-item--fourth
        .table__content-item-tdst
          .table__content-item-tdst-item Something
          .table__content-item-tdst-item Something
          .table__content-item-tdst-item Something
    tr.table__content
      td.table__content-item.table-item--first Something
      td.table__content-item.table-item--second Something
      td.table__content-item.table-item--third Something
      td.table__content-item.table-item--fourth Something