.basket
    margin-left: auto
    width 24px
    height 24px


    &:hover
        .basket__img
            animation lol 1s 0s
            animation-fill-mode forwards


@keyframes lol
    0%
        transform: scale(.2)
    20%
        transform: scale(1.2)
    40%
        transform: scale(.8)
    60%
        transform: scale(1.1)
    80%
        transform: scale(.9)
    100%
        transform: scale(1)
    