@import "../mixins/colors.styl"

.cart
    margin-left: auto
    position relative

    &:hover
        &:after
            background-color $color-blue
    
    &:after
        display block
        content ""
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        transition .3s
        icon_size_mask 24px, 24px, "../images/btns/cart.svg"
        background-color $color-grey
        